<!DOCTYPE html>
<html>
	<head>

    <title>Grand Central</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div id="wrap">
			<div class="container-fluid">
				<!-- Navigation -->
				<div class="row-fluid"> 
					<div class="navbar navbar-fixed-top">
						<div class="navbar-inner">
							<div class="container-fluid">
								<a class="brand" href="/">Grand Central</a>
								<ul class="nav">
									<li class="dropdown">
										<a id="drop1" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
											Companies
											<b class="caret"></b>
										</a>
									</li>
								</ul>
								<ul class="nav pull-right">
									<li class="dropdown">
										<%= link_to "Log out", destroy_user_session_path, method: :delete %>
									</li>
								</ul>
							</div>
						</div>
					</div> 
				</div>
				<!-- Content -->
				<div class="row-fluid">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>




